# Project exclude paths
/.gradle/
/build/
/out/
/out/production/classes/
/src/main/java/com/xain/rainbowmod/blocks/DemoBlock.java
/src/main/java/com/xain/rainbowmod/blocks/DemoBlockEntity.java
/src/main/java/com/xain/rainbowmod/blocks/ExampleGenerator.java
/src/main/java/com/xain/rainbowmod/blocks/ExampleGeneratorContainer.java
/src/main/java/com/xain/rainbowmod/blocks/ExampleGeneratorEntity.java
/src/main/java/com/xain/rainbowmod/blocks/ExampleGeneratorScreen.java
/src/main/java/com/xain/rainbowmod/items/ExampleAdvancedItem.java
/src/main/java/com/xain/rainbowmod/items/ExampleItem.java
/src/main/resources/assets/rainbowmod/textures/block/demo_block.png
/src/main/resources/assets/rainbowmod/textures/block/example_generator.png
/src/main/resources/assets/rainbowmod/textures/block/example_generator_front.png
/src/main/resources/assets/rainbowmod/textures/block/example_generator_powered.png
/src/main/resources/assets/rainbowmod/textures/block/solar_test.png
/src/main/resources/assets/rainbowmod/textures/items/example_item.png
/src/main/resources/assets/rainbowmod/textures/items/example_item0.png
/src/main/resources/assets/rainbowmod/textures/items/example_item1.png
/src/main/resources/assets/rainbowmod/textures/items/example_item2.png
/src/main/resources/assets/rainbowmod/textures/items/example_item3.png
